h1, h2 {white-space: nowrap; margin: 0;}
h1 {
	background-color: #00008b;
	border-bottom: 4px solid #7f7fff;
	color: #ffffff;
}
h2 {
	background-color: #c1dcf9;
	border-bottom: 2px solid #7f7fff;
}
p {
	margin: 0;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0pt;
}
th {
	background-color: #7f7fff;
}
td {
	background-color: #c1dcf9;
}
th, td {
	padding: 0 3px;
}
/*
table>thead>tr>th {
 border: 1px solid black;
}
table>tbody>tr>td {
    border: 1px solid black;
    padding: 0 3px;
}
*/
pre {
	background-color: #bfbfbf;
	border: 1px solid black;
}