h1, h2 {
	font-family: sans-serif;
	white-space: nowrap; margin: 0;
}
h1 {
	background-color: #7f7fff;
	border-bottom: 2px solid #000000;
}
h2 {
	background-color: #c1dcf9;
	border-bottom: 2px solid #000000;
	margin: 3px 0 0 0;
}
p {
	margin: 3px 0 0 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0pt;
}
th, td {
	border: 1px solid black;
	padding: 0 3px;
}
th {
	background-color: #7f7fff;
}
td {
	background-color: #c1dcf9;
}
pre {
	background-color: #bfbfbf;
	border: 1px solid black;
}